/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-extra-light: rgba(255, 255, 255, 0.2);
  --basic-dark: #323232;
  --basic-underline: #353535;
  --basic-gray: #5A5A5A;
  --basic-light-gray: #999999;
  --bg-color-3: #9D8B84;
  --bg-color-2: #8996A6;
  --bg-color-1: #849D8F;
  --bg-banner-1: #62040f;
  --bg-banner-2: #4c2211;
  --bg-advantages: #fae4b4;
  --bg-news: #ffffff;
  --bg-subscribe: #F8F7F4;
  --button-main: #E84D37;
  --button-main-hover: #F26843;
  --link-active: #EDEDED;
  --link-hover-light: #FFBC9E;
  --link-hover-dark: #E84D37;
  --dropdown-hover: #FBDED7;
  --dropdown-active: #F6B5A5;
  --border-hover-light: rgba(255, 188, 158, 0.3);
  --link-underline-light: rgba(255, 255, 255, 0.3);
  --site-link-current: #D07058;
  --input-border-norm: rgba(178, 178, 178, 0.52);
  --input-border-focus: rgba(46, 136, 228, 0.52);
  --social-btn-fill-norm: rgba(255, 255, 255, 0.8);
  --social-btn-stroke-norm: rgba(255, 255, 255, 0.5);
  --social-btn-stroke-active: rgba(255, 255, 255, 0.7);
}

/* Global */

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  padding-top: 9px;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--bg-color-1);
  background-image: url("../img/slider-image-1.jpg")
}

.site-wrapper-2 {
  background-color: var(--bg-color-2);
  background-image: url("../img/slider-image-2.jpg")
}

.site-wrapper-3 {
  background-color: var(--bg-color-3);
  background-image: url("../img/slider-image-3.jpg")
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 10px 19px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
}

.button:hover {
  background: 
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), 
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.button:active {
  background-color: var(--button-main);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content;
  align-content: flex-start;
  background-color: var(--bg-color-1);
}

/* Grid for pages */

.page-catalog .page-title {
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 0 ,0.7);
}

/* Main header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  display: flex;
}

.main-header-logo {
  align-self: start;
  width: 154px;
  height: 64px;
  margin-right: 10px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

/* Container */

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  list-style: none;
}

.site-dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 5px;
  margin-left: -6px;
  min-width: 143px;
  list-style: none;
  background-color: var(--basic-white);
  padding: 0;
  padding-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 12px;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 16px;
}

.dropdown-new {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-list li {
  padding-left: 6px;
  padding-right: 9px;
}

.dropdown-list li:hover {
  background-color: var(--dropdown-hover);
}

.dropdown-list li:active {
  background-color: var(--dropdown-active);
}

.dropdown-list li.dropdown-current {
  background-color: var(--site-link-current);
}

.site-link {
  display: flex;
  align-items: center;
  min-height: 31px;
  margin-top: 13px;
  margin-right: 6px;
  padding: 0 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  border-radius: 26px;
}

.site-link-current .site-link {
  background-color: var(--site-link-current);
}

.site-link-current span {
  border-bottom: 1px solid var(--basic-extra-light);
}

.site-link-current span {
  border: none;
}

.site-dropdown:hover .site-link,
.site-dropdown:focus .site-link {  
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.site-link:active {
  background-color: var(--link-active);
  box-shadow: inset 0px 2px 1px #696969;
}

.site-link:hover ul,
.site-link:focus ul {
  display: block;
}

/* User navigation */

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.user-link {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 14px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-extra-light);
  border-radius: 16px;
}

.user-link span {
  margin-left: 8px;
}

.user-navigation .search-link {
  padding: 0;
}

.user-link:hover path,
.user-link:focus path,
.user-link:hover circle,
.user-link:focus circle {
  fill: var(--basic-dark);
}

.user-link:hover,
.user-link:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.search-wrapper:hover .search-form,
.search-wrapper:focus .search-form {
  display: flex;
}

.entrance-wrapper:hover .entrance-form,
.entrance-wrapper:focus .entrance-form {
  display: flex;
}

.entrance-wrapper {
  position: relative;
}

.entrance-form {
  position: absolute;
  display: flex;
  display: none;
  flex-wrap: wrap;
  top: 50px;
  right: 0;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;
  font-size: 0;
  background-color: var(--bg-subscribe);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.entrance-form .input-field {
  width: 241px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  padding: 13px;
}

.entrance-form .button {
  width: 102px;
  margin-right: 20px;
}

.login-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 119px;
}

.login-help span {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark);
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.search-wrapper {
  position: relative;
}

.search-form {
  position: absolute;
  display: none;
  top: 50px;
  right: 0;
  padding: 20px 15px;
  background-color: var(--bg-subscribe);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.search-form .input-field {
  margin: 0;
  width: 311px;
  font-size: 14px;
  line-height: 16px;
  padding: 13px;
}

.phone {
  margin: 0;
  padding-top: 2px;
  text-align: right;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  outline-offset: -5px;
  color: var(--basic-white);
}

.phone span {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Slider */

.slider {
  padding-top: 321px;
  position: relative;
  text-align: center;
  color: var(--basic-white);
  margin-bottom: 35px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

/* Banners */
.banners {
  display: flex;
  justify-content: space-between;
  min-height: 229px;
  margin-bottom: 40px;
}

.banner {
  width: 528px;
  padding: 16px;
  border-radius: 16px;
  color: var(--basic-white);
}

.banner-1 {
  background-color: var(--bg-banner-1);
  background-image: url("../img/bg-raspberry.jpg");
}

.banner-2 {
  background-color: var(--bg-banner-2);
  background-image: url("../img/bg-chocolate.jpg");
}

/* Catalog Hits */

.catalog-hits {
  min-height: 324px;
  margin-bottom: 40px;
  outline: 5px solid rgba(0, 0, 255, 0.3);
  outline-offset: -5px;
}

/* Advantages */

.advantages {
  padding: 24px 20px 8px;
  min-height: 266px;
  margin-bottom: 40px;
  border-radius: 16px;
  background-color: var(--bg-advantages);
  background-image: url("../img/pattern-wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}


.advantages h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-dark);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item {
  position: relative;
  margin-bottom: 22px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.advantage-item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: -9px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid var(--basic-dark);
}

.advantage-item:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.advantage-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.advantage-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.advantage-item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
}

.advantage-item p {
  margin: 0;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-dark);
}

/* News & Subscribtion */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* News */

.news {
  width: 520px;
  padding: 20px;
  padding-top: 18px;
  border-radius: 16px;
  background-color: var(--bg-news);
  background-image: url("../img/bg-strawberry.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}


.news h2 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-dark);
}

.post-heading {
  width: 287px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-dark);
}

.post-underline {
  text-decoration: underline;
}

/* Subscribe */

.subscribe {
  width: 548px;
  padding: 5px 6px;
  border-radius: 16px;
  background-image: url("../img/bg-post.svg");
}

.subscribe-container {
  padding: 0 20px;
  padding-top: 24px;
  box-sizing: border-box;
  min-height: 210px;
  border-radius: 16px;
  background-color: var(--bg-subscribe);
  font-size: 0;
}

.subscribe p {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-gray);
}


.input-field {
  width: 368px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 9px 13px;
  border-radius: 6px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  border: 1px solid var(--input-border-norm);
}

.input-field:hover {
  border-width: 2px;
  padding: 8px 12px;
}

.input-field:focus {
  border-width: 2px;
  padding: 8px 12px;
  border-color: var(--input-border-focus);
}

/* Contacts */

.contacts h2,
.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-dark);
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-dark);
}

/* Map */
.map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 430px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

/* Main footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-top: 1px solid var(--basic-extra-light);
}

/* Footer social */

.footer-social {
  display: flex;
  max-width: 350px;
  align-items: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin: 8px;
  margin-left: 0;
}

.social-button {
  display: flex;
}

.social-button svg {
  width: 32px;
  height: 32px;
  border: 2px solid var(--social-btn-stroke-norm);
  border-radius: 50%;
}

.social-button path,
.social-button g {
  fill: var(--social-btn-fill-norm);
}

.social-button:hover path,
.social-button:hover g,
.social-button:active path,
.social-button:active g {
  fill: var(--basic-white);
}

.social-button:active svg {
  border-color: var(--social-btn-stroke-active);
}

/* Footer links */

.footer-links {
  display: flex;
  max-width: 400px;
  align-items: center;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  margin-left: -2px;
}

.footer-link:nth-child(2n+1) {
  padding: 0 18px;
}

.footer-link.highlight {
  font-weight: 700;
}

.footer-link svg {
  position: absolute;
  left: -4px;
  top: 7px;
}

.footer-link a {
  display: block;
  padding: 0;
  padding-top: 4px;
  line-height: 18px;
}

.footer-link span {
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-underline-light);
}

.footer-link:hover path {
  fill: var(--link-hover-light);
}

.footer-link:hover span {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

.footer-link:hover path {
  fill: var(--link-hover-light);
}

.footer-link:hover span {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

/* Footer copyright */

.footer-copyright {
  display: flex;
  max-width: 350px;
  justify-content: flex-end;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-copyright img {
  width: 108px;
  height: 39px;
}

.footer-copyright span {
  margin: 5px 0;
}

.footer-copyright a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-underline-light);
}

.footer-copyright a:hover {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

/* Catalog */

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: var(--basic-white);
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -14px;
  width: 6px;
  height: 6px;
  background-image: url("../img/icon-right-double.svg");
}

breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-extra-light);
}

.breadcrumbs a:hover,
.breadcrubms a:focus {
  color: var(--link-hover-light);
}

.breadcrumbs-current {
  color: var(--basic-white);
}

.page-catalog .page-title {
  margin-bottom: 29px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 87px;
  list-style: none;
}

.catalog-item {
  width: 267px;
  min-height: 360px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item a {
  display: flex;
  flex-direction: column;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  background-color: var(--basic-extra-light);
}

.catalog-item-heading {
  order: 1;
  margin: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
}

.catalog-item-heading span {
  border-bottom: 1px solid var(--basic-extra-light);
}

.catalog-item-heading:hover span,
.catalog-item-heading:focus span {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

.catalog-item-image {
  position: relative;
  width: 267px;
  height: 267px;
  margin: 0;
}

.catalog-item-image::before {
  content: "";
  position: absolute;
  width: 267px;
  height: 267px;
  top: 0;
  right: 0;
  background-image: url("../img/product-mask.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-price {
  position: absolute;
  bottom: 20px;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-white);
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Feedback */

.feedback {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -238px;
  margin-top: -310px;
}

.feedback-form {
  background-color: var(--bg-subscribe);
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;
  border-radius: 6px;
  text-align: right;
}

.feedback-form p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.feedback-form .input-field {
  display: block;
  width: 267px;
  margin-bottom: 20px;
}

.feedback-form .comment-field {
  width: 428px;
  height: 154px;
  margin: 0;
  margin-bottom: 25px;
}

.feedback-form .button {
  width: 140px;
}

.feedback .button-close {
  position: absolute;
  top: 12px;
  right: 10px;
  border: 0;
  background-color: transparent;
  font-size: 0;
}

/* Filters */

.filters {
  min-height: 130px;
  margin-bottom: 40px;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 13px;
}

.filter-item legend,
.filter-item span {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}

.filter-item label,
.filter-item select,
.price-controls input {
  font: inherit;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-item select:hover,
.filteer-item select:focus {
  color: var(--basic-dark)
}

.filter-item select {
  padding: 9px;
  border: none;
  border-radius: 20px;
  background-color: var(--basic-extra-light);
}

.price-controls input {
  border: none;
  border-radius: 20px;
  background-color: transparent;
}

.filter-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-btn {
  width: 144px;
  padding: 7px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-extra-light);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.filter-btn:active {
  box-shadow: inset 0px 2px 1px #696969;
}

/* Pagination */

.page-list {
  list-style: none;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 0, 255, 0.3);
}

.page-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: transparent;
}

.page-item a:hover,
.page-item a:focus {
  background-color: var(--basic-extra-light);
}

.page-item a:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.page-item-current a,
.page-item-current a:hover,
.page-item-current a:focus,
.page-item-current a:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  cursor: default;
}

.page-item-disabled a,
.page-item-disabled a:hover,
.page-item-disabled a:focus,
.page-item-disabled a:active {
  color: var(--basic-extra-light);
  background-color: transparent;
  cursor: default;
}
