/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-extra-light: rgba(255, 255, 255, 0.2);
  --basic-dark: #323232;
  --basic-underline: #353535;
  --basic-gray: #5A5A5A;
  --basic-light-gray: #999999;
  --bg-color-3: #9D8B84;
  --bg-color-2: #8996A6;
  --bg-color-1: #849D8F;
  --bg-banner-1: #62040F;
  --bg-banner-2: #4C2211;
  --bg-advantages: #FAE4B4;
  --bg-subscribe: #F8F7F4;
  --bg-map: #E7E1C9;
  --button-main: #E84D37;
  --button-main-hover: #F26843;
  --link-active: #EDEDED;
  --link-hover-light: #FFBC9E;
  --link-hover-dark: #E84D37;
  --dropdown-hover: #FBDED7;
  --dropdown-active: #F6B5A5;
  --border-hover-light: rgba(255, 188, 158, 0.3);
  --link-underline-light: rgba(255, 255, 255, 0.3);
  --link-underline-hover: rgba(232, 77, 55, 0.3);
  --site-link-current: #D07058;
  --input-border-norm: rgba(178, 178, 178, 0.52);
  --input-border-focus: rgba(46, 136, 228, 0.52);
  --social-btn-fill-norm: rgba(255, 255, 255, 0.8);
  --social-btn-stroke-norm: rgba(255, 255, 255, 0.5);
  --social-btn-stroke-active: rgba(255, 255, 255, 0.7);
  --slider-button-hover: rgba(255, 255, 255, 0.4);
  --price: #ABABAB;
  --table-border: #CACAC7;
  --scale: rgba(248, 247, 244, 0.5);
}

/* Global */

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  min-width: 1200px;
  padding-top: 9px;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--bg-color-1);
  background-image: url("../img/slider-image-1.jpg")
}

.site-wrapper-2 {
  background-color: var(--bg-color-2);
  background-image: url("../img/slider-image-2.jpg")
}

.site-wrapper-3 {
  background-color: var(--bg-color-3);
  background-image: url("../img/slider-image-3.jpg")
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 10px 19px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
}

.button:hover {
  background: 
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), 
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.button:active {
  background-color: var(--button-main);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content;
  align-content: flex-start;
  background-color: var(--bg-color-1);
}

.inner-page .site-wrapper {
  background-image: 
    linear-gradient(var(--basic-extra-light), transparent);
  background-size: auto 656px;
}

/* Main header */

.main-navigation {
  display: flex;
}

.main-header-logo {
  align-self: start;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}

.site-dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 5px;
  margin-left: -6px;
  min-width: 143px;
  list-style: none;
  background-color: var(--basic-white);
  padding: 0;
  padding-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 12px;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 16px;
}

.dropdown-new {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-list li {
  padding-left: 6px;
  padding-right: 9px;
}

.dropdown-list li:hover {
  background-color: var(--dropdown-hover);
}

.dropdown-list li:active {
  background-color: var(--dropdown-active);
}

.dropdown-list li.dropdown-current {
  background-color: var(--site-link-current);
}

.site-link {
  display: flex;
  align-items: center;
  min-height: 31px;
  margin-top: 13px;
  margin-right: 6px;
  padding: 0 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  border-radius: 26px;
}

.site-link-current .site-link {
  background-color: var(--site-link-current);
}

.site-link-current span {
  border-bottom: 1px solid var(--basic-extra-light);
}

.site-link-current span {
  border: none;
}

.site-dropdown:hover .site-link,
.site-dropdown:focus .site-link {  
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.site-link:active {
  background-color: var(--link-active);
  box-shadow: inset 0px 2px 1px #696969;
}

.site-link:hover ul,
.site-link:focus ul {
  display: block;
}

/* User navigation */

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.user-link {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 14px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-extra-light);
  border-radius: 16px;
}

.user-link span {
  margin-left: 8px;
}

.user-navigation .search-link {
  padding: 0;
}

.user-link:hover path,
.user-link:focus path,
.user-link:hover circle,
.user-link:focus circle {
  fill: var(--basic-dark);
}

.user-link:hover,
.user-link:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.cart-filled {
  position: relative;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.cart-filled svg {
  display: none;
}

.cart-filled::before {
  content: "";
  width: 21px;
  height: 20px;
  background-image: url('../img/cart-red.svg');
  background-repeat: no-repeat;
}

.cart-wrapper:hover .cart-form,
.cart-wrapper:focus .cart-form {
  display: block;
}

.entrance-wrapper:hover .entrance-form,
.entrance-wrapper:focus .entrance-form {
  display: flex;
}

.search-wrapper:hover .search-form,
.search-wrapper:focus .search-form {
  display: flex;
}

.cart-wrapper {
  position: relative;
}

.cart-wrapper:hover .cart-form {
  display: block;
}

.cart-form {
  position: absolute;
  display: none;
  width: 510px;
  flex-wrap: wrap;
  top: 50px;
  right: 0;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 22px;
  padding-left: 15px;
  background-color: var(--bg-subscribe);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-align: right;
}

.cart-form .cart-table {
  width: 511px;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark);
  border-bottom: 1px solid var(--table-border);
}

.cart-table td {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  vertical-align: baseline;
}

.cart-table .delete {
  width: 11px;
  padding: 5px;
}

.cart-table .delete:hover {
  cursor: pointer;
}

.cart-table .icon {
  width: 33px;
  height: 33px;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

.cart-table img {
  width: 33px;
  height: 33px;
  vertical-align: bottom;
}

.cart-table .name {
  padding-left: 12px;
  text-align: left;
}

.cart-table .quantity {
  width: 118px;
  padding-right: 2px;
  text-align: right;
}

.cart-table .price {
  font-style: normal;
  color: var(--price);
}

.cart-table .sum {
  width: 90px;
  text-align: center;
}

.cart-form .cart-form-total {
  text-align: right;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.cart-form-total b {
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  color: var(--basic-dark);
}

.cart-form .button {
  display: inline-block;
  vertical-align: bottom;
  padding: 14px;
  font-size: 18px;
  line-height: 16px;
  text-shadow: none;
}

.entrance-wrapper {
  position: relative;
}

.entrance-form {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  top: 50px;
  right: 0;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;
  font-size: 0;
  background-color: var(--bg-subscribe);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.entrance-form .input-field {
  width: 241px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  padding: 13px;
}

.entrance-form .button {
  width: 102px;
  margin-right: 20px;
}

.login-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 119px;
}

.login-help span {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark);
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.search-wrapper {
  position: relative;
}

.search-form {
  position: absolute;
  display: none;
  top: 50px;
  right: 0;
  padding: 20px 15px;
  background-color: var(--bg-subscribe);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.search-form .input-field {
  margin: 0;
  width: 311px;
  font-size: 14px;
  line-height: 16px;
  padding: 13px;
}

.phone {
  float: right;
  margin: 0;
  padding-top: 2px;
  text-align: right;
  color: var(--basic-white);
}

.phone span {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Slider */

.slider {
  padding-top: 325px;
  position: relative;
  text-align: center;
  color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  padding: 12px 40px;
}

.slider-controls {
  position: absolute;
  bottom: 13px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 79px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  background-color: var(--slider-button-hover);
}

.slider-controls .current {
  background-color: var(--basic-white);
}

/* Banners */
.banners {
  display: flex;
  justify-content: space-between;
  min-height: 229px;
  margin-top: 50px;
}

.banner {
  width: 522px;
  padding: 16px;
  padding-right: 22px;
  border-radius: 16px;
  color: var(--basic-white);
  text-align: right;
}

.banner-1 {
  background-color: var(--bg-banner-1);
  background-image: url("../img/bg-raspberry.jpg");
}

.banner-2 {
  background-color: var(--bg-banner-2);
  background-image: url("../img/bg-chocolate.jpg");
}

.banner h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 17px;
  text-align: left;
}

.banner p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 54px;
  text-align: left;
}

.banner .button {
  padding: 13px 22px;
}

/* Catalog Hits */

.page-index .catalog-hits {
  min-height: 324px;
  margin-top: 40px;
}

.catalog-hits .catalog-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Advantages */

.advantages {
  padding-left: 20px;
  padding-right: 26px;
  padding-top: 24px;
  padding-bottom: 8px;
  min-height: 266px;
  margin-top: 4px;
  border-radius: 16px;
  background-color: var(--bg-advantages);
  background-image: url("../img/pattern-wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}


.advantages h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-dark);
}

.advantages-list {
  display: grid;
  grid-template-columns: 535px 535px;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item {
  position: relative;
  margin-bottom: 22px;
}

.advantage-item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: -9px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid var(--basic-dark);
}

.advantage-item:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.advantage-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.advantage-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.advantage-item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
}

.advantage-item p {
  margin: 0;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-dark);
}

/* News & Subscribtion */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/* News */

.news {
  width: 520px;
  padding: 20px;
  padding-top: 18px;
  border-radius: 16px;
  background-color: var(--bg-white);
  background-image: url("../img/bg-strawberry.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}


.news h2 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-dark);
}

.news-post {
  width: 287px;
}

.news-post-heading {
  display: inline;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-dark);
  border-bottom: 2px solid var(--basic-underline);
}

.news-post-link:hover h3 {
  color: var(--link-hover-dark);
  border-bottom-color: var(--link-underline-hover);
}

/* Subscribe */

.subscribe {
  width: 548px;
  padding: 5px 6px;
  border-radius: 16px;
  background-image: url("../img/bg-post.svg");
}

.subscribe-container {
  padding: 0 20px;
  padding-top: 24px;
  box-sizing: border-box;
  min-height: 210px;
  border-radius: 16px;
  background-color: var(--bg-subscribe);
  font-size: 0;
}

.subscribe p {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-gray);
}


.input-field {
  width: 368px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 9px 13px;
  border-radius: 6px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  border: 1px solid var(--input-border-norm);
}

.input-field:hover {
  border-width: 2px;
  padding: 8px 12px;
}

.input-field:focus {
  border-width: 2px;
  padding: 8px 12px;
  border-color: var(--input-border-focus);
}

.subscribe .button {
  vertical-align: top;
}

/* Map and Contacts */

.map {
  position: absolute;
  width: 100%;
  margin-top: 41px;
  left: 0;
  background-color: var(--bg-map);
  min-height: 430px;
}

.map iframe {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 430px;
  border: none;
}

.map-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 1200px;
  height: 430px;
  left: 50%;
  margin-left: -600px;
}

.map-wrapper img {
  position: absolute;
  width: 1200px;
  height: 430px;
}

.map .contacts {
  z-index: 4;
  width: 253px;
  margin-top: 62px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
  padding-bottom: 31px;
  margin-right: 27px;
  border-radius: 16px;
  background-color: var(--basic-white);
}

.contacts h2,
.contacts p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-dark);
}

.contacts h2 {
  width: 155px;
}

.contacts p {
  margin-bottom: 22px;
}

.contacts b {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-dark);
}

.contacts .tel {
  margin-top: 2px;
}

.contacts .button {
  display: block;
  margin-top: 27px;
  text-align: center;
}

/* Main footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  margin-top: 470px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-top: 1px solid var(--basic-extra-light);
}


/* Footer social */

.footer-social {
  display: flex;
  max-width: 350px;
  align-items: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin: 8px;
  margin-left: 0;
}

.social-button {
  display: flex;
}

.social-button svg {
  width: 32px;
  height: 32px;
  border: 2px solid var(--social-btn-stroke-norm);
  border-radius: 50%;
}

.social-button path,
.social-button g {
  fill: var(--social-btn-fill-norm);
}

.social-button:hover path,
.social-button:hover g,
.social-button:active path,
.social-button:active g {
  fill: var(--basic-white);
}

.social-button:active svg {
  border-color: var(--social-btn-stroke-active);
}

/* Footer links */

.footer-links {
  display: flex;
  max-width: 400px;
  align-items: center;
}

.footer-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  position: relative;
  padding-top: 4px;
  padding-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  margin-left: -2px;
}

.footer-link:nth-child(2n+1) {
  padding-left: 18px;
  padding-right: 18px;
}

.footer-link.highlight {
  font-weight: 700;
}

.footer-link svg {
  position: absolute;
  left: -4px;
  top: 7px;
}

.footer-link a {
  line-height: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-underline-light);
}

.footer-link:hover path {
  fill: var(--link-hover-light);
}

.footer-link:hover a {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

.footer-link:hover path {
  fill: var(--link-hover-light);
}

.footer-link:hover a {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

/* Footer copyright */

.footer-copyright {
  display: flex;
  max-width: 350px;
  justify-content: flex-end;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-copyright img {
  width: 108px;
  height: 39px;
}

.footer-copyright span {
  margin: 5px 0;
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-copyright img {
  width: 108px;
  height: 39px;
}

.footer-copyright span {
  margin: 5px 0;
}

.footer-copyright a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-underline-light);
}

.footer-copyright a:hover {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

/* Breadcrumbs */

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -14px;
  width: 6px;
  height: 6px;
  background-image: url("../img/icon-right-double.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-extra-light);
}

.breadcrumbs a:hover,
.breadcrubms a:focus {
  color: var(--link-hover-light);
}

.breadcrumbs-current {
  color: var(--basic-white);
}

.page-title {
  margin: 0;
  margin-top: 2px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Filters */

.filters {
  min-height: 130px;
  margin-top: 23px;
}

.filters form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 869px;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 15px;
}

.filter-item label,
.filter-item select,
.price-controls input {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
}

.filter-item-sort {
  position: relative;
  width: 196px;
}

.filter-item-price {
  width: 218px;
}

.filter-item-fat {
  width: 425px;
}

.filter-item-filler {
  width: 711px;
  margin: 0;
}

.filter-item legend,
.filter-item span {
  display: inline-block;
  vertical-align: baseline;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 7px;
}

.filter-item-select:hover,
.filteer-item-select:focus {
  color: var(--basic-dark)
}

.filter-item-arrow {
  position: absolute;
  width: 11px;
  height: 10px;
  right: 14px;
  bottom: 13px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item-select:hover + .filter-item-arrow {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.filter-item select {
  box-sizing: border-box;
  width: 196px;
  height: 36px;
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 7px;
  padding-bottom: 11px;
  border: none;
  border-radius: 20px;
  background-color: var(--basic-extra-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range-controls {
  position: relative;
  width: 176px;
  height: 19px;
  padding-top: 17px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 20px;
  background-color: var(--basic-extra-light);
}

.range-controls .scale {
  height: 2px;
  background-color: var(--scale);
}

.range-controls .bar {
  width: 45%;
  height: 2px;
  margin-left: 20%;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-extra-light);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls span:not(:first-of-type) {
  margin-left: 0;
}

.price-controls input {
  max-width: 32px;
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  border: none;
  background-color: transparent;
}

.filter-item ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 36px;
  border-radius: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-extra-light);
}

.filter-option {
  padding-left: 45px;
}

.filter-radio {
  margin-right: 6px;
}

.filter-checkbox {
  margin-right: 10px;
}

.filter-input:hover + label {
  color: var(--link-hover-light);
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -3px;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-btn {
  width: 144px;
  padding: 9px; 
  margin-left: 14px;
  border: none;
  box-shadow: inset 0 0 0 2px var(--basic-white);
  border-radius: 20px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-extra-light);
}

.filter-btn:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.filter-btn:active {
  box-shadow: inset 0px 2px 1px #696969;
}

/* Catalog */

.catalog {
  margin-top: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 37px;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover .catalog-item-overlay,
.catalog-item:hover .catalog-item-button,
.catalog-item-hover .catalog-item-overlay,
.catalog-item-hover .catalog-item-button {
  display: block;
  display: block;
}

.catalog-item-overlay {
  display: none;
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 1;
  width: 293px;
  height: 402px;
  outline: 0;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  background-image: url("../img/mask.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 4px;
  font-size: 0;
}

.catalog-item-button {
  display: none;
  position: absolute;
  z-index: 1;
  left: 33px;
  right: 34px;
  bottom: -53px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
}

.catalog-item-heading {
  display: inline;
  padding: 0 3px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-extra-light);
}

.catalog-item-image {
  position: relative;
  width: 267px;
  margin-bottom: 7px;
}

.catalog-item-image::before {
  content: "";
  position: absolute;
  width: 267px;
  height: 267px;
  top: 0;
  right: 0;
  background-image: url("../img/product-mask.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page .catalog-item:nth-of-type(-n+4) .catalog-item-image::before {
  background-image: url("../img/product-mask-gradient.png");
}

.catalog-price {
  position: absolute;
  bottom: 18px;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-white);
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Pagination */

.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style: none;
}

.page-item:first-child {
  transform: rotate(180deg);
}

.page-item:last-child a {
  text-align: right;
  margin-left: 0;
}

.page-item a {
  display: block;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-left: 4px;
  color: var(--basic-white);
  border-radius: 50%;
}

.page-item a:hover,
.page-item a:focus {
  background-color: var(--basic-extra-light);
}

.page-item a:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.page-item-current a,
.page-item-current a:hover,
.page-item-current a:focus,
.page-item-current a:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  cursor: default;
}

.page-item-disabled a,
.page-item-disabled a:hover,
.page-item-disabled a:focus,
.page-item-disabled a:active {
  color: var(--basic-extra-light);
  background-color: transparent;
  cursor: default;
}

.page-item-disabled a path {
  fill: var(--basic-extra-light);
}

.inner-page .main-footer {
  margin-top: 30px;
}

/* Feedback */

.feedback {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -238px;
  margin-top: -310px;
}

.feedback-form {
  background-color: var(--bg-subscribe);
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;
  border-radius: 6px;
  text-align: right;
}

.feedback-form p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.feedback-form .input-field {
  display: block;
  width: 267px;
  margin-bottom: 20px;
}

.feedback-form .comment-field {
  width: 428px;
  height: 154px;
  margin: 0;
  margin-bottom: 25px;
}

.feedback-form .button {
  width: 140px;
}

.feedback .button-close {
  position: absolute;
  top: 12px;
  right: 10px;
  border: 0;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

.feedback-show {
  display: block;
  animation: bounce 0.6s;
}

.feedback-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  
  70% {
    transform: translateY(30px);
  }
  
  90%  {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}