/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-extra-light: rgba(255, 255, 255, 0.2);
  --basic-dark: #323232;
  --basic-underline: #353535;
  --basic-gray: #5A5A5A;
  --basic-light-gray: #999999;
  --bg-color-3: #9D8B84;
  --bg-color-2: #8996A6;
  --bg-color-1: #849D8F;
  --bg-banner-1: #62040f;
  --bg-banner-2: #4c2211;
  --bg-advantages: #fae4b4;
  --bg-news: #ffffff;
  --bg-subscribe: #F8F7F4;
  --button-main: #E84D37;
  --button-main-hover: #F26843;
  --link-hover-light: #FFBC9E;
  --link-hover-dark: #E84D37;
  --border-hover-light: rgba(255, 188, 158, 0.3);
  --link-underline-light: rgba(255, 255, 255, 0.3);
  --input-border-norm: rgba(178, 178, 178, 0.52);
  --input-border-focus: rgba(46, 136, 228, 0.52);
  
}

/* Global */

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.site-wrapper {
  min-width: 1200px;
  padding-top: 9px;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--bg-color-1);
  background-image: url("../img/slider-image-1.jpg")
}

.site-wrapper-2 {
  background-color: var(--bg-color-2);
  background-image: url("../img/slider-image-2.jpg")
}

.site-wrapper-3 {
  background-color: var(--bg-color-3);
  background-image: url("../img/slider-image-3.jpg")
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--button-main);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--button-main-hover);
}

.button:active {
  background-color: var(--button-main);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content;
  align-content: flex-start;
  background-color: var(--bg-color-1);
}

/* Main navigation */

.main-navigation {
  display: flex;
}

.main-header-logo {
  align-self: start;
  width: 154px;
  height: 64px;
  margin-right: 24px;
}

/* Container */

.main-navigation-wrapper {
  display: flex;
}

.site-navigation {
  width: 520px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}

.site-navigation li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 30px;
}

.site-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-extra-light);
}

/* User navigation */

.user-navigation {
  padding-left: 50px;
}

.user-navigation p {
  display: inline-block;
  margin: 24px;
  max-width: 140px;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-extra-light)
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.phone {
  margin: 0;
  padding-top: 2px;
  text-align: right;
  color: var(--basic-white);
}

.phone span {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Slider */

.slider {
  padding-top: 321px;
  position: relative;
  text-align: center;
  color: var(--basic-white);
  margin-bottom: 35px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

/* Banners */
.banners {
  display: flex;
  justify-content: space-between;
  min-height: 229px;
  margin-bottom: 40px;
}

.banner {
  width: 528px;
  padding: 16px;
  border-radius: 16px;
  color: var(--basic-white);
}

.banner-1 {
  background-color: var(--bg-banner-1);
  background-image: url("../img/bg-raspberry.jpg");
}

.banner-2 {
  background-color: var(--bg-banner-2);
  background-image: url("../img/bg-chocolate.jpg");
}

/* Catalog Hits */

.catalog-hits {
  min-height: 324px;
  margin-bottom: 40px;
}

/* Advantages */

.advantages {
  padding: 24px 20px 10px;
  min-height: 266px;
  margin-bottom: 40px;
  border-radius: 16px;
  background-color: var(--bg-advantages);
  background-image: url("../img/pattern-wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}


.advantages h2 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-dark);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item {
  margin-bottom: 20px;
}

.advantage-item p {
  margin: 0;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-dark);
}

/* News & Subscribtion */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* News */

.news {
  width: 520px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--bg-news);
  background-image: url("../img/bg-strawberry.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}


.news h2 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-dark);
}

.post-heading {
  width: 287px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-dark);
}

.post-underline {
  border-bottom: 2px solid var(--basic-underline);
}

/* Subscribe */

.subscribe {
  width: 548px;
  padding: 5px 6px;
  border-radius: 16px;
  background-image: url("../img/bg-post.svg");
}

.subscribe-container {
  padding: 0 20px;
  padding-top: 24px;
  box-sizing: border-box;
  min-height: 210px;
  border-radius: 16px;
  background-color: var(--bg-subscribe);
}

.subscribe p {
  margin: 0;
  margin-bottom: 47px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-gray);
}


.input-field {
  width: 368px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 9px 13px;
  border-radius: 6px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  border: 1px solid var(--input-border-norm);
}

.input-field:hover {
  border-width: 2px;
  padding: 8px 12px;
}

.input-field:focus {
  border-width: 2px;
  padding: 8px 12px;
  border-color: var(--input-border-focus);
}

/* Map and Contacts */

.map {
  display: flex;
  justify-content: flex-end;
  align-items:  center;
  min-height: 430px;
}

.map img {
  position: absolute;
  width: 1200px;
  margin-left: 27px;
}

.map .contacts {
  z-index: 1;
  width: 253px;
  min-height: 244px;
  flex-shrink: 0;
  padding: 31px 25px;
  border-radius: 16px;
  background-color: var(--basic-white);
}

.contacts h2,
.contacts p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-dark);
}

.contacts p {
  margin-bottom: 40px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-dark);
}

.contacts .button {
  display: block;
  text-align: center;
}

/* Main footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-top: 1px solid var(--basic-extra-light);
}

.footer-social {
  margin: 0;
  width: 267px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin: 8px;
  margin-left: 0;
}

/* Footer links */

.footer-links {
  max-width: 400px;
}

.footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  font-size: 13px;
  line-height: 18px;
}

.footer-link.highlight {
  font-weight: 700;
}

.footer-link span {
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-underline-light);
}

.footter-links a:hover {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

.footer-link:hover path {
  fill: var(--link-hover-light);
}

.footer-link:hover span {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

/* Footer copyright */

.footer-copyright {
  display: flex;
  max-width: 350px;
  justify-content: flex-end;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-copyright img {
  width: 108px;
  height: 39px;
}

.footer-copyright span {
  margin: 5px 0;
}

.footer-copyright a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-underline-light);
}

.footer-copyright a:hover {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

/* Catalog */

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: var(--basic-white);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-extra-light);
}

.breadcrumbs a:hover,
.breadcrubms a:focus {
  color: var(--link-hover-light);
}

.breadbrumbs-current {
  color: var(--basic-white);
}

page-catalog .page-title {
  margin-bottom: 29px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.catalog-item {
  width: 267px;
  min-height: 360px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  background-color: var(--basic-extra-light);
}

.catalog-item-heading {
  margin: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
}

.catalog-item-heading span {
  border-bottom: 1px solid var(--basic-extra-light);
}

.catalog-item-heading:hover span,
.catalog-item-heading:focus span {
  color: var(--link-hover-light);
  border-bottom: 1px solid var(--border-hover-light);
}

.catalog-item-image {
  width: 267px;
  height: 267px;
  margin: 0;
}

.catalog-price b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-white);
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: var(--basic-white);
}

/* Filters */

.filters {
  min-height: 130px;
  margin-bottom: 40px;
}

.filters form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 869px;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 13px;
}

.filter-item ul {
  min-height: 36px;
  border-radius: 20px;
}

.filter-item-sort {
  width: 196px;
}

.filter-item-price {
  width: 218px;
}

.filter-item-fat {
  width: 425px;
}

.filter-item-filler {
  width: 711px;
  margin: 0;
}

.filter-item ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-item legend,
.filter-item span {
  display: inline-block;
  vertical-align: baseline;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 7px;
}

.filter-item label,
.filter-item select,
.price-controls input {
  font: inherit;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-item select:hover,
.filteer-item select:focus {
  color: var(--basic-dark)
}

.filter-item select {
  padding: 9px;
  border: none;
  border-radius: 20px;
  background-color: var(--basic-extra-light);
}

.range-controls {
  width: 218px;
  height: 36px;
  border-radius: 20px;
  background-color: var(--basic-extra-light);
}

.price-controls span:not(:first-of-type) {
  margin-left: 0;
}

.price-controls input {
  max-width: 32px;
  text-align: right;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.filter-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-extra-light);
}

.filter-btn {
  width: 126px;
  padding: 7px;
  margin-left: 15px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-extra-light);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.filter-btn:active {
  box-shadow: inset 0px 2px 1px #696969;
}

/* Pagination */

.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.page-item {
  margin-left: 15px;
}

.page-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: transparent;
}

.page-item a:hover,
.page-item a:focus {
  background-color: var(--basic-extra-light);
}

.page-item a:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.page-item-current a,
.page-item-current a:hover,
.page-item-current a:focus,
.page-item-current a:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  cursor: default;
}

.page-item-disabled a,
.page-item-disabled a:hover,
.page-item-disabled a:focus,
.page-item-disabled a:active {
  color: var(--basic-extra-light);
  background-color: transparent;
  cursor: default;
}